/* colors
dark blue                   #414D64
accent light blue           #596985
very light blue          #91BACE
gray                     #5A656C
 */

body{
    background-color:  #414D64 ;
    color: #91BACE;
    font-family: 'Nunito', sans-serif;
}

header img {
    height: 200px;
    width: 200px;
    margin-bottom: -40px;
    margin-left: 4%;
}


section {
    margin-top: 1rem;
    margin-left: 2%;
    margin-bottom: 2rem;
    max-width: 40rem;
    padding: 3%;
    box-shadow: 2px 2px 10px 0px black;
}

.format{
    padding-top: 3%;
    display: flex;
  max-width: 960px;
  margin: auto;
}
.about{
    position: static;
    width: 26rem;
    margin-left: 4%;
}
.mainContent{
    position: static;
    width: 75%
   
}
.card{
      max-width: 40rem;
      background-color: #414D64;
}

.grid{
    display: grid;
    padding-left: 2%;
    padding-bottom: 1rem;
    padding-top: 2rem;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-bottom-color:  #596985;
}

.name{
    grid-column: 1;
    grid-row: 1;
}
.programLang{
    grid-column: 3;
    color:#E0E0E2;
    font-family: 'Quicksand', sans-serif;
    font-style: italic;
    font-weight: 100;
    font-size:medium;
    grid-row:1;
    text-align: right;
}


.content{
    padding-left: 5%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    grid-row: 2;
    grid-column-end: span 3;
}
.grid a{
    display: flex;
    grid-row: 3;
    grid-column: 1;
    justify-content:center;
    align-self: center;
    grid-column-end: span 3;
}
.grid.last{
    border-bottom-style: none;
}
.links{
    display: flex;
    grid-row: 3;
    grid-column-end: span 3;
    justify-content: space-evenly;
}
.about {
    width: 40%;
    text-align: center;
}
.about .sectionTitle{
    border-bottom:  solid 1px #1CE815;
    padding: 1rem;
}
.about .name{
    margin-top: 20px;
    margin-bottom: 10px; 
}



.about-card{
    padding-bottom: 3rem;

}
.about ul{
    text-align: left;
    margin-left: 1rem;
}
.contact-container{
    display: flex;
    padding-left: 0;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}

.nav-link{
    font-family: 'Nunito', sans-serif;
    color:#91BACE !important;
}
.navbar-background{
    border-bottom: 1px solid #1CE815;
    color:#91BACE !important
}
.navbar-toggler-color{
    color:#91BACE
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(145,186,206, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .custom-toggler.navbar-toggler {
    border-color: #91BACE;
  } 
  .container{
    margin-left: 4%;
  }

@media screen and (max-width: 428pt) {
    html{
       overflow-x: hidden;
    }
    body{
        width: 100%;
       overflow-x: hidden;
    }
    .format {
        display: block;
      width: 100%;
    }
    .mainContent{
        width: 97%;
       
    }
    .about{
        width: 97%;
        margin-left: 0;
    }
    header img{
        width : 200pt;
        height: 200pt;
        margin-top: 0rem;
    }

  .grid {
      padding-bottom: 1rem;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-bottom-color:  #596985;
  }
  .nav-link{
      font-size: xx-large;
  }
}

